* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}

/* Header-top */
.header-top {
  width: 100%;
  height: 40px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header-top p {
  color: #fff;
  font-size: 16px;
}
.header-top .close {
  width: 25px;
  height: 25px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  border: none;

  position: absolute;
  right: 10px;
}
